<!-- <meta http-equiv="refresh" content="100; url=http://localhost:5000/travelStart"> -->
<!-- <meta http-equiv="refresh" content="10; url=/travelStart"> -->

<!-- <h2>Part 10</h2> -->
<h2 class="GameTitle">Breakout!!!</h2>

<!-- <p>
    {{controller.message}}
</p> -->
<!-- <div class="timer">
    Time: {{controller.counter}}
</div> -->
<body>
        <div class="card">
                <div id="frame">
<iframe src="ngApp/views/resources/tutorials/02Makingyourfirstgame/breakoutMG.html" height="600" width="800">game not available</iframe>
                </div>
        </div>
</body>

<button class = "mg" ui-sref="dynamicMap">
    Wander
</button>
