<div class="howto">
    <h1>
        How To Play
    </h1>
    <br>
    <br>
<div id="gamePlay">
    <br>
        <h2>
                Controls:
            </h2>
   <!-- <h4><i class="fa fa-star" aria-hidden="true"></i> Click within the game window to begin.</h4> -->
    <h4><i class="fa fa-star" aria-hidden="true"></i> Collect as many points as possible within 20 seconds!</h4>
   

    <div>
        <p>
            The main controls utilized in our games are <strong> A Mouse</strong> and <strong>Arrow Keys</strong>.
        </p>
    </div> 
    <div>
       <h3>Regular Games:</h3>  
       <p>Games you play when you click within your radius.</p>
        <p>
            Use keyboard arrows to move around and collect the items that appear.
        </p>
    </div>
    <div>
        <h3>Special Games:</h3>
        <p> Games you play when you click on an icon.</p>
        <ul>
            <li><strong>Dragon Breath:</strong> Use your mouse to move your dragon and left-click to first throw you fire breath.</li>
            <li><strong>JasInvaders:</strong> Use the arrow keys to move dragon and the spacebar to shoot fireballs</li>
            <li><strong>Sky Boating:</strong> Use the arrow keys to move around (Keep in mind your physics is a little off) 
                                    and collect as many stars as you can</li>
            <li><strong>Dragon vs Tanks:</strong> Use your mouse to aim and left-click to shoot and arrow keys to move around</li>
        </ul>
    </div>
    <br>
    <button a ui-sref="home">B A C K</button>
    </div>
</div>
    