<head>
</head>

<h1>Welcome to WanderDragon</h1>
<br>
<br>
<div class="tagline">
    <i>"This looks like it's gonna be a lot of fun." </i>-
    <b>Steve Wozniak 10.12.17</b>
</div>
<div class="tagline">
    <i>"This is beautiful." </i>-
    <b>Steve Wozniak 10.12.17</b>
</div>
<div class="tagline">
    <i>"Cheat like a pro." </i>-
    <b>Jason Tennant</b>
</div>
<br>
<div class="paragraph">
        <p>
            Explore the world from the comfort of your own home with your dragon at your side. Collect items, play games, and help your dragon reach its full potential!
        </p>
    </div>
<div class="paragraph">
    <button a href="#" id="start" ng-click="controller.start()">S T A R T</button> <button ui-sref="howTo" id="start">Gameplay</button>
</div>
<br>

