<!-- <meta http-equiv="refresh" content="100; url=http://localhost:5000/travelStart"> -->
<!-- <meta http-equiv="refresh" content="10; url=/travelStart"> -->

<h2 class="GameTitle">Jasonvaders!!!!!</h2>
<!-- <p>
    {{controller.message}}
</p> -->
<!-- <div class="timer">
    Time: {{controller.counter}}
</div> -->

<body>
    <div class="card">
        <div id="frame">
            <iframe onload="contentWindow.focus()" src="ngApp/views/resources/tutorials/02Makingyourfirstgame/invadersMG.html" height="600" width="800" frameBorder="0">game not available</iframe>
        </div>
    </div>
</body>
<button class="mg" ui-sref="dynamicMap">
    Wander
</button>

    <!-- <button action="http://localhost:5000/travelStart">Wander</button> -->
