<meta http-equiv="refresh" content="30; url=/travelStart">
<!-- <h2>Mini Game 2: 30 seconds</h2> -->
<h2 class="GameTitle">Skyboating!!!!!</h2>

<!-- <p>
    {{controller.message}}
</p> -->
<div class="timer">
        Time: {{controller.counter}}
</div>
<body>
    <div class="card">
        <div id="frame">
            <iframe onload="contentWindow.focus()" src="ngApp/views/resources/tutorials/02Makingyourfirstgame/skyboatMG.html" width=800 height=600>game not available</iframe>
        </div>
    </div>
</body>
<!-- <button ui-sref="dynamicMap">
    Wander
</button> -->