<div class="howto">
    <h1>
        Journey Start
    </h1>
    <br>
    <br>
    <div id="gamePlay">
        <h3>To a New Beginning</h3>
        <img src="/images/greetingimagefin.png">
        <br>
        <br> You and your dragon are now ready to explore the world. From here on out, you'll create many memories with your
        partner, as well as with those you will meet on your journey.
        <br>
        <br> Your dragon wants to see the other side of the globe, but a whelp can only fly so far. Help your partner grow,
        and I'm sure the both of you will find yourselves in a wonderful place.
        <br>
        <br> Have fun, and explore as much as you can, but be careful too-- you will only have a certain amount of time during
        each trip to explore and collect souvenirs before someone on the ground notices something strange in the sky (your
        dragon!). Best you avoid getting into trouble, but don't let that dampen your wanderlust too badly.
        <br>
        <br> Anyhow, isn't it about time you got started?
        <br>
        <br>
        <button ui-sref="dashboard" id="start">Sure is!</button>
    </div>
</div>